*.pt
*data_traj
inference*time*.txt
*.npy
files__pycache__/
similarity-plots
*.png
training_and_rollout_trajectories/
data_sim
!*basic_diffusion_model/custom_images/*.png
*.npz
action_diffusion_outputs/
image_frames_extracted
*.mp4
*.pkl
*.bag
.idea
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
example/test/
example/wrapper/bak/
viz_outputs
__pycache__
